In [15]:
import pandas as pd

In [16]:
df=pd.read_csv("https://raw.githubusercontent.com/Roh-Tripathi/ETG--Olympics-Analysis-/main/summer.csv")

In [17]:
df.tail()

       Year    City      Sport  ... Gender     Event   Medal
31160  2012  London  Wrestling  ...    Men  Wg 84 KG  Bronze
31161  2012  London  Wrestling  ...    Men  Wg 96 KG    Gold
31162  2012  London  Wrestling  ...    Men  Wg 96 KG  Silver
31163  2012  London  Wrestling  ...    Men  Wg 96 KG  Bronze
31164  2012  London  Wrestling  ...    Men  Wg 96 KG  Bronze

[5 rows x 9 columns]

1.In how many cities Summer Olympics  is held so far?

In [18]:
df['City'].nunique() # Q1 df['City'].unique() to see unique country

22

2. Which sport is having most no of Gold medals so far?

In [19]:
a=df['Sport'][df['Medal']=='Gold'].value_counts()#q2
a.head()

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

3.Which sport is having most no of medals so far?

In [20]:
b=df['Sport'].value_counts()#q3
b.head()

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

4.Which player has won most no of medals?

In [21]:
c=df['Athlete'].value_counts()#q4
c.head()

PHELPS, Michael       22
LATYNINA, Larisa      18
ANDRIANOV, Nikolay    15
SHAKHLIN, Boris       13
ONO, Takashi          13
Name: Athlete, dtype: int64

5.Which player has won most no .of Gold medals of medals?

In [22]:
x=df['Athlete'][df['Medal']=='Gold'].value_counts() #q5
x.head()

PHELPS, Michael     18
SPITZ, Mark          9
LATYNINA, Larisa     9
LEWIS, Carl          9
NURMI, Paavo         9
Name: Athlete, dtype: int64

6.In which year India won first Gold medal in Summer olympics?

In [23]:
Year=0
for i in range(len(df)):
    if(df['Country'][i]=='IND' and df['Medal'][i]=="Gold"):
        Year=df['Year'][i]
        break
print(Year)

1928

7.Which sport is having most female Gold Medalists?

In [27]:
d=dict.fromkeys(df['Sport'],0)
for i in range(len(df)):
    if(df['Gender'][i]=='Women' and df['Medal'][i]=="Gold"):
        d[df['Sport'][i]]+=1
l=d.keys()
print(d)
print(l)

{'Aquatics': 589, 'Athletics': 389, 'Cycling': 45, 'Fencing': 108, 'Gymnastics': 268, 'Shooting': 43, 'Tennis': 38, 'Weightlifting': 28, 'Wrestling': 12, 'Archery': 39, 'Basque Pelota': 0, 'Cricket': 0, 'Croquet': 0, 'Equestrian': 51, 'Football': 86, 'Golf': 1, 'Polo': 0, 'Rowing': 217, 'Rugby': 0, 'Sailing': 38, 'Tug of War': 0, 'Boxing': 3, 'Lacrosse': 0, 'Roque': 0, 'Hockey': 144, 'Jeu de paume': 0, 'Rackets': 0, 'Skating': 4, 'Water Motorsports': 0, 'Modern Pentathlon': 4, 'Ice Hockey': 0, 'Basketball': 120, 'Canoe / Kayak': 76, 'Handball': 142, 'Judo': 42, 'Volleyball': 166, 'Table Tennis': 23, 'Badminton': 23, 'Baseball': 0, 'Softball': 60, 'Taekwondo': 16, 'Triathlon': 4, 'Canoe': 9}
dict_keys(['Aquatics', 'Athletics', 'Cycling', 'Fencing', 'Gymnastics', 'Shooting', 'Tennis', 'Weightlifting', 'Wrestling', 'Archery', 'Basque Pelota', 'Cricket', 'Croquet', 'Equestrian', 'Football', 'Golf', 'Polo', 'Rowing', 'Rugby', 'Sailing', 'Tug of War', 'Boxing', 'Lacrosse', 'Roque', 'Hockey', 'Jeu de paume', 'Rackets', 'Skating', 'Water Motorsports', 'Modern Pentathlon', 'Ice Hockey', 'Basketball', 'Canoe / Kayak', 'Handball', 'Judo', 'Volleyball', 'Table Tennis', 'Badminton', 'Baseball', 'Softball', 'Taekwondo', 'Triathlon', 'Canoe'])

AttributeError: ignored